
body {
  background: #1b1b1d;
  color: rgba(0,0,0,0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  padding-top: 100px;
  float: left; !/* WARNING:  */
}
#message {
  background: white;
  max-width: 100vh;
  margin: 100px auto 16px;
  padding: 32px 24px 16px;
  border-radius: 3px;
}
#message h3 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
  margin: 16px 0 12px;
}
#message h2 {
  color: #ec008c;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px; }
#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0,0,0,0.6);
  margin: 0 0 16px;
}
#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}
#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}
#message, #message a {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#load {
  color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 13px;
}
@media (max-width: 600px) {
  body, #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }
  body {
    border-top: 16px solid #ffa100;
  }
}
#message h4 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
#message h5 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
#homebutton {
  display: block;
	width: 190px;
	height: 30px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	font-size: 19px;
	padding: 14px 10px 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	margin-left: auto;
  margin-right: auto;
	transition: all 0.5s;
	letter-spacing: 1px;
}
#homebutton:hover {
	transform-origin: center;
	color: #1b1b1d;
	transition: ease-out 0.5s;
	background-color: #fff;
}
.viewportfolio {
  display: block;
  width: 190px;
  height: 30px;
	background-image: linear-gradient(90deg, #f25a28, #ec008c);
  color: #fff;
  text-align: center;
  font-size: 19px;
  padding: 14px 10px 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
  letter-spacing: 1px;
  margin-top: 50px;
}
.viewportfolio:hover {
	transition: ease-in-out 0.5s;
  /* box-shadow: 0px 0px 10px 5px #ef2d5b; */
  box-shadow: 0px 0px 20px 2px rgba(239, 45, 91, 1);
	/* background-color: #ec008c; */
}
.vpbutton {
  position: relative;
  /* border-radius: 26px; */
	background-image: linear-gradient(90deg, #ec008c, #f25a28, #ec008c);
  background-size: 500%;
  background-position: 0% 0%;
}

.vpbutton:hover {
    animation: gradientRotate 6s infinite;
	}
    .vpbutton::before {
      opacity: 1;
      animation: gradientRotate 6s infinite;
    }
  }

.vpbutton:active {
    color: #ec008c;
  }
	@keyframes gradientRotate {
	  0% {
	    background-position: 0% 0%;
	  }
	  100% {
	    background-position: 90% 80%;
	  }
	}
