/* $pink: #ec008c; #ffbafe - lightpink
$orange: #f25a28;
$mid-gradient: #ef2d5b*/

html {
  overflow-y: scroll;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #1b1b1d;
  height: 100%;
}
nav {
  top: -70px;
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 70px;
  background: #1b1b1d;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  /* opacity: 0; */
  /* padding-left: 100px; */
  border-bottom: 1px solid rgba(236, 0, 140, 0.05);
  /* box-shadow: 0px 1vh 2vh 0px rgba(236, 0, 140, 0.05); */
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #fff;
  padding: 20px;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
  transition: 0.5s;
}
nav ul li a:hover {
  color: #ec008c;
}
nav ul li .active-a {
  color: #f25a28;
  padding: 20px;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
  transition: 0.5s;
}
nav ul li .active-a:hover {
  color: #555;
}
.brand {
  font-size: 1.8em;
  text-decoration: none;
  font-weight: 900;
  color: #ec008c;
  text-transform: uppercase;
  letter-spacing: 5px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10;
  transition: 0.6s;
}
header .logo {
  position: relative;
  font-weight: 900;
  color: #ec008c;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.6s;
  letter-spacing: 5px;
}
header .toggle {
  position: relative !important;
}
header #toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
}
header #toggle:before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
header #toggle:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
.banner.active header #toggle:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active header #toggle:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  transition: 0.5s;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #1b1b1d;
  background: url('../images/banner.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}
.banner.active {
  transform: translateX(-400px);
  z-index: 2;
}
#navigation {
  position: fixed;
  top: 0;
  right: -200px;
  width: 400px;
  height: 100vh;
  background: #ec008c;
  z-index: 0;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
#navigation.active {
  right: 0;
}
#navigation ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
#navigation ul li {
  list-style: none;
}
#navigation ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
}
#navigation ul:hover li a {
  opacity: 0.5;
}
#navigation ul li a:hover {
  transform: scale(1.4);
  z-index: 1000;
  background: #ec008c;
  opacity: 1;
}

.content {
  max-width: 600px;
}
.content h2 {
  color: #fff;
  font-size: 2.5em;
}
.content h2:hover {
  cursor: default;
}
.content h2 span {
  color: #ec008c;
  font-size: 1.2em;
}
.content p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
}
.content a:hover {
  z-index: 1000;
  background: #ec008c;
  opacity: 1;
}

.content a:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8), transparent);
  transform: skewX(35deg);
  transition: 0s;
}
.content a:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
.content a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #f25a28;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  overflow: hidden;
  transition: 0.5s;
}
.sci {
  display: flex;
  flex-direction: column;
  right: 100px;
  position: absolute;
}
.sci li {
  list-style: none;
}
.sci li a {
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  opacity: 0.1;
  transition: 0.5s;
}
.sci li a:hover {
  opacity: 1;
}
.sci li a img {
  max-width: 25px;
  /* filter: invert(1); */
  mix-blend-mode: difference;
}


@media (max-width: 1450px){
  .sci {
    position: absolute;
    bottom: 50px;
    right: initial;
    flex-direction: row;
  }
  .sci li a {
    margin: initial;
    margin-right: 10px;
  }
  #sec {
    padding: 100px 50px 150px;
  }
  #sec h2{
    font-size: 1.8em;
  }
  #sec .contact-content p,
  #sec .contact-content a {
    font-size: 1em;
  }
  #sec .artwork-content p,
  #sec .artwork-content a {
    font-size: 1em;
  }

  header {
    padding: 20px 50px;
  }
  .contactbanner {
    background: #1b1b1d !important;
  }
}
@media (max-width: 1000px){
  .brand {
    display: none;
  }
  .artwork-content .artwork {
    width: 700px;
    height: 100%;
    object-fit: cover;
    transition: border 0.5s;
    margin-top: 50px;
  }
}
@media (max-width: 850px){
  .portfolio-content .pics .ppics {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
  }
  .artwork-content .artwork {
    width: 700px;
    height: 100%;
    object-fit: cover;
    transition: border 0.5s;
    margin-top: 50px;
  }
}
@media (max-width: 767px){
  header {
    padding: 20px 50px;
  }
  .banner {
    padding: 100px 50px 150px;
  }
  .banner h2{
    font-size: 1.8em;
  }
  .banner .content p,
  .banner .content a {
    font-size: 1em;
  }
  .banner.active {
    transform: translateX(-250px);
  }

  #sec2 {
    padding: 100px 50px 150px;
}
  #sec2 h2{
    font-size: 1.8em;
  }
  #sec2 .content2 p,
  #sec2 .content2 a {
    font-size: 1em;
  }
  #sec2.active {
    transform: translateX(-250px);
  }
  .aboutbanner {
    padding: 100px 50px 150px;
}
  .aboutbanner h2{
    font-size: 1.8em;
  }
  .aboutbanner .content p,
  .aboutbanner .content a {
    font-size: 1em;
  }
  .aboutbanner.active {
    transform: translateX(-250px);
  }
  #sec {
    padding: 100px 50px 150px;
}
  #sec h2{
    font-size: 1.8em;
  }
  #sec .contact-content p,
  #sec .contact-content a {
    font-size: 1em;
  }
  #sec .artwork-content p,
  #sec .artwork-content a {
    font-size: 1em;
  }
  #sec.active {
    transform: translateX(-250px);
  }
  #navigation {
    width: 250px;
  }
  #navigation ul li a{
    font-size: 1.5em;
    margin: 5px 0;
  }
  .sci {
    position: absolute;
    bottom: 50px;
    right: initial;
    flex-direction: row;
  }
  .sci li a {
    margin: initial;
    margin-right: 10px;
  }

  .pics {
    margin-top: 25px;
  }
  #sec.active {
    transform: translateX(-250px);
  }
  .brand {
    display: none;
  }
  .portfolio-content .pics .ppics {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: 0.5s;
  }
  .recentimg {
    display: none;
  }

  .portfoliobanner {
    padding: 100px 50px 150px;
  }
  .portfoliobanner h2{
    font-size: 1.8em;
  }
  .portfoliobanner .portfolio-content p,
  .portfoliobanner .portfolio-content a {
    font-size: 1em;
  }
  #sec .contact-content .copyr .copyright {
    font-size: 0.7em;
  }
  .portfoliobanner .pics .ppics:hover {
    border-bottom: 1vh solid #ec008c;
    transition: border 0.5;
  }
  .artwork-content .artwork {
    width: 600px;
    height: 100%;
    object-fit: cover;
    transition: border 0.5s;
    margin-top: 50px;
  }
  /* nav ul li a {
    padding: 15px;
    font-size: 0.65em;
    font-weight: 700;
    margin-left: 5px;
  }
  nav ul li .active-a {
    padding: 15px;
    font-size: 0.65em;
    margin-left: 5px;
  } */
}

/* 650 PX */
@media (max-width: 650px){
  header {
    padding: 20px 50px;
  }
  .banner {
    padding: 100px 50px 150px;
  }
  .banner h2{
    font-size: 1.8em;
  }
  .banner .content p,
  .banner .content a {
    font-size: 1em;
  }
  .banner.active {
    transform: translateX(-250px);
  }

  .banner2 {
    padding: 100px 50px 150px;
}
  .banner2 h2{
    font-size: 1.8em;
  }
  .banner2 .content2 p,
  .banner2 .content2 a {
    font-size: 0.9em;
  }
  .banner2.active {
    transform: translateX(-250px);
  }
  .aboutbanner {
    padding: 100px 50px 150px;
}
  .aboutbanner h2{
    font-size: 1.6em;
  }
  .aboutbanner .content p,
  .aboutbanner .content a {
    font-size: 1em;
  }
  .aboutbanner.active {
    transform: translateX(-250px);
  }
  .contactbanner {
    padding: 100px 50px 150px;
}
  .contactbanner h2{
    font-size: 1.8em;
  }
  .contactbanner .contact-content p,
  .contactbanner .contact-content a {
    font-size: 1em;
  }
  .artwork-banner .artwork-content p,
  .artwork-banner .artwork-content a {
    font-size: 1em;
  }
  .contactbanner.active {
    transform: translateX(-250px);
  }
  #navigation {
    width: 250px;
  }
  #navigation ul li a{
    font-size: 1.5em;
    margin: 5px 0;
  }
  .sci {
    position: absolute;
    bottom: 50px;
    right: initial;
    flex-direction: row;
  }
  .sci li a {
    margin: initial;
    margin-right: 10px;
  }
  .portfolio-content .pics .ppics {
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: 0.5s;
  }
  nav ul li a {
    padding: 15px;
    font-size: 0.9em;
    font-weight: 700;
    margin-left: 5px;
  }
  nav ul li .active-a {
    padding: 15px;
    font-size: 0.9em;
    margin-left: 5px;
  }
  .artwork-content .artwork {
    width: 370px;
    height: 100%;
    object-fit: cover;
    transition: border 0.5s;
    margin-top: 50px;
  }
}

/* 410 PX */
@media (max-width: 410px){
  .portfolio-content .pics .ppics {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
  }
  nav ul li a {
    padding: 15px;
    font-size: 0.65em;
    font-weight: 700;
    margin-left: 5px;
  }
  nav ul li .active-a {
    padding: 15px;
    font-size: 0.65em;
    margin-left: 5px;
  }
  .artwork-content .artwork {
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: border 0.5s;
    margin-top: 50px;
  }
}
.smoothscroll {
  width: 100%;
  height: 100%;
  /* SMOOTH SCROLL */
}


            /* 222222222222222222222 */
.banner2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #1b1b1d;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
  z-index: 1;
}
.banner2.active {
  transform: translateX(-400px);
  z-index: 2;
}

#toggle2 {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
}
#toggle2:before {
  content: '';
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
#toggle2:after {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
.banner2.active #toggle2:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.banner2.active #toggle2:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  transition: 0.5s;
}

.content2 {
  max-width: 600px;
  /* text-align: right; */
}
.content2 h2 {
  color: #fff;
  font-size: 2.5em;
}
.content2 h2:hover {
  cursor: default;
}

.content2 h2 span {
  color: #ec008c;
  font-size: 1.2em;
}
.content2 p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
}
.content2 a:hover {
  z-index: 1000;
  background: #ec008c;
  opacity: 1;
}

.content2 a:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8), transparent);
  transform: skewX(35deg);
  transition: 0s;
}
.content2 a:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
.content2 a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #f25a28;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  overflow: hidden;
  transition: 0.5s;
}

.bottomsection {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10;
  transition: 0.6s;
}
.bottomsection .logo {
  position: relative;
  font-weight: 900;
  color: #ec008c;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.6s;
  letter-spacing: 5px;
}

.banner2 .recentimg {
  width: 25%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
}
.banner2 .recentimg:hover {
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); */
  /* border-bottom: 20px solid #ec008c; */
  /* outline: 10px solid red;
  outline-offset: -30px; */
}

/* FOOTER */

footer {
  position: relative;
  width: 100%;
  height: 8vh;
  padding: 20px;
  /* background: #2c2c2e; */
  background: #1b1b1d;
  /* background: url('../images/banner.svg'); */
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
  text-align: center;
  justify-content: center;
}
footer.active {
  transform: translateX(-400px);
  z-index: 1;
}
footer span, p {
  color: #555;
  font-weight: 200;
  font-size: 0.9em;
}
footer a {
  text-decoration: none;
  color: #555;
  transition: 0.5s;
  font-weight: 300;
}
footer a:hover {
  color: #ec008c;
}

/* ABOUT */

.aboutbanner.active header #toggle:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.aboutbanner.active header #toggle:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  transition: 0.5s;
}

.aboutbanner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #1b1b1d;
  background: url('../images/aboutbanner.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}
.aboutbanner.active {
  transform: translateX(-400px);
  z-index: 2;
}

/* CONTACT */

.contactbanner.active header #toggle:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.contactbanner.active header #toggle:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  transition: 0.5s;
}

.contactbanner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #1b1b1d;
  background: url('../images/contactbanner.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}
.contactbanner.active {
  transform: translateX(-400px);
  z-index: 2;
}
.contact-content {
  max-width: 600px;
}
.contact-content h2 {
  color: #fff;
  font-size: 2.5em;
}
.contact-content h2:hover {
  cursor: default;
}
.contact-content h2 span {
  color: #ec008c;
  font-size: 1.2em;
}
.contact-content p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
}
.contact-content a:hover {
  z-index: 1000;
  color: #ec008c;
}

.contact-content a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  overflow: hidden;
  transition: 0.5s;
}
.contact-content iframe {
  margin-top: 20px;
}

/* PORTFOLIO */

.portfoliobanner.active header #toggle:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.portfoliobanner.active header #toggle:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  transition: 0.5s;
}

.portfoliobanner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #1b1b1d;
  /* background: url('../images/contactbanner.svg'); */
  background-size: cover;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  transition: 0.5s;
  z-index: 1;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  text-align: center;
}
.portfoliobanner.active {
  transform: translateX(-400px);
  z-index: 2;
}
.portfolio-content {
  max-width: 1500px;
  margin-top: 100px;
  justify-content: center;
}
.portfolio-content h2 {
  color: #fff;
  font-size: 2.5em;
  text-align: left;
}
.portfolio-content h2 span {
  color: #ec008c;
  font-size: 1.2em;
}
.portfolio-content p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
}
.portfolio-content a:hover {
  z-index: 1000;
  color: #ec008c;
}

.portfolio-content a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  overflow: hidden;
  transition: 0.5s;
}
.portfolio-content iframe {
  margin-top: 20px;
}
.portfoliobanner .ppics {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: border 0.5s;
}
.portfoliobanner .ppics:hover {
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); */
  border-bottom: 2vh solid #ec008c;
  transition: border 0.5;
  cursor: default;
}
.portfoliobanner a .ppics:hover {
  cursor: pointer !important;
}
.pics {
  margin-top: 25px;
}
.portfoliobanner .ppics-long {
  width: 600px;
  height: 300px;
  object-fit: cover;
  transition: 0.5s;
}
.portfoliobanner .ppics-long:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

/* UNNECESSARY */
.copyr {
  position: absolute;
  margin-top: 35px;
}
#navigation span, .copyright {
  color: #fff;
  font-weight: 200;
  font-size: 0.9em;
}
#navigation a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-weight: 300;
}
#navigation .copyright a:hover {
  color: #1b1b1d;
}
/* UNNECESSARY */

.contact-content .copyright {
  color: #fff;
  font-weight: 200;
  font-size: 0.9em;
}
.contact-content .copyrighta {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-weight: 500;
  font-size: 0.9em;

}
.contact-content .copyright a:hover {
  color: #ec008c;
}

#scrolltotop {
  margin-top: 100px;
  width: 100%;
  position: relative;
  text-align: center;
  /* justify-content: center; */
  padding: 10px;
  height: 50px;
  color: #fff;
  z-index: 1001;
  background: #1b1b1d;
  display: inline-block;
  opacity: 1;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.15em;
  font-weight: 900;
}

#scrolltotop:hover {
  background: #2c2c2e;
}

#trustpilot {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -9px;
  margin-left: -6px;
}
.trustpilot-widget {
  margin-top: 25px;
}




/* ----------DESIGNS---------- */



.artwork-banner.active header #toggle:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.artwork-banner.active header #toggle:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  transition: 0.5s;
}
.artwork-banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: #1b1b1d;
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  /* text-align: center; */
  justify-content: space-around;
}
.artwork-banner.active {
  transform: translateX(-400px);
  z-index: 2;
}

.artwork-content {
  max-width: 800px;
  margin-top: 100px;
}
.artwork-content h2 {
  color: #fff;
  font-size: 2.5em;
  letter-spacing: 2px;
}
.artwork-content h2:hover {
  cursor: default;
}
.artwork-content h2 span {
  color: #ec008c;
  /* font-size: 1.2em; */
}
.artwork-content .p1 {
  margin-top: 50px;
  font-size: 1.1em;
  color: #fff;
  font-weight: 400;
}
.artwork-content p {
  margin-top: 10px;
  font-size: 1.1em;
  color: #fff;
  font-weight: 400;
}
.artwork-content .hashtags {
  margin-top: 10px;
  font-size: 1em;
  color: #666;
  font-weight: 400;
}
.artwork-content .hashtags:hover {
  cursor: default;
}
.artwork-content .date {
  margin-top: 25px;
  font-size: 1em;
  color: #666;
  font-weight: 400;
  float: right;
  transition: 0.5s;

}
.artwork-content .date:hover {
  color: #fff;
  cursor: default;
}
.artwork-content a:hover {
  z-index: 1000;
  color: #ec008c;
}

.artwork-content a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  overflow: hidden;
  transition: 0.5s;
}

.artwork {
  width: 800px;
  height: 100%;
  object-fit: cover;
  transition: border 0.5s;
  margin-top: 50px;
}
