body {
	 overflow-x: hidden;
}

/* PRELOADER */
.spinner{
    width: 80px;
    height: 80px;

    border: 2px solid #f25a28;
    border-top:3px solid #ec008c;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;

    animation: spin 2s infinite linear;
		animation-duration: 2s;
		z-index: 1000;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
