::-webkit-scrollbar {
	width: 0;
}


#scrollpath {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.1vw;
	height: 100%;
	background: rgba(255,255,255,0.05);
	z-index: 3012;
}
#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.1vw;
	background: linear-gradient(to top, #f25a28, #ec008c);
	animation: animate 5s linear infinite;
	z-index: 53;
}
/* @keyframes animate{
	0%, 100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
} */
#progressbar:before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 0.1vw;
	height: 100%;
	background: linear-gradient(to top, #f25a28, #ec008c);
	filter: blur(5px);
}
#progressbar:after{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 0.1vw;
	height: 100%;
	background: linear-gradient(to top, #f25a28, #ec008c);
	filter: blur(10px);
}
