@media only screen and (max-width:640px) {
  #ud {
    display: none;
  }
  #logo {
    top: 0;
  }
}
@media only screen and (max-width:440px) {
  #logo {
    display: none;
  }
}
@media only screen and (max-width:1000px) {
  .box2 img {
  	width: 22.7vh;
  	height: 20vh;
  }
  .images figure figcaption {
  	width: 23.5vh;
  	margin-left: 0vh;
  	margin-top: -1.2vh;
  	text-align: center;
  	font-size: 1.6vh;
  }
  .box2 {
  	width: 100%;
  	height: 60vh;
  	overflow: auto;
}
@media only screen and (max-width:880px) {
  .box2 img {
  	width: 16.7vh;
  	height: 14vh;
  }
  .box2 {
    width: 100%;
    height: 52vh;
    overflow: auto;
  }
  .images figure figcaption {
    width: 23.5vh;
    margin-left: -3.3vh;
    margin-top: -1.2vh;
    text-align: center;
    font-size: 1.5vh;
  }
}
@media only screen and (max-width:695px) {
  .box2 img {
    width: 25vh;
    height: 20vh;
    margin-top: 20px;
  }
  .box2 {
    width: 100%;
    height: 86vh;
    overflow: auto;
  }
  .images figure figcaption {
    width: 23.5vh;
    margin-left: 0vh;
    margin-top: -1.2vh;
    text-align: center;
    font-size: 1.6vh;
  }
}
@media only screen and (max-width:485px) {
  .box2 img {
  	width: 16.7vh;
  	height: 14vh;
    margin-top: 5px;
  }
  .box2 {
    width: 100%;
    height: 71vh;
    overflow: auto;
  }
  .images figure figcaption {
    width: 23.5vh;
    margin-left: -3.3vh;
    margin-top: -1.2vh;
    text-align: center;
    font-size: 1.5vh;
  }
}
@media only screen and (max-width:1700px) {
    .wtfweare, #behind, #arrow {
      display: none;
    }
}
