/* $pink: #ec008c; #ffbafe - lightpink
$orange: #f25a28;
$mid-gradient: #ef2d5b
$red:#ea0000 */

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
::-webkit-scrollbar {
	width: 0;
}


#scrollpath {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.1vw;
	height: 100%;
	background: rgba(255,255,255,0.05);
	z-index: 2;
}
#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.1vw;
	background: #ea0000;

	animation: animate 5s linear infinite;
	z-index: 3;
}
/* NAV Panel */
/* #instagram {
  color: #F26D9F;
}
#trustpilot {
  color: #04DA8D;
} */
.udlogo {
  letter-spacing: 1px;
  font-size: 1.3em;
  margin-left: 0%;
  margin-top: 0%;
  font-weight: 400;
  position: sticky;
}
.udlogo a{
  text-decoration: none;
  color: #141414;
  transition: 0.2s;
}
.udlogo a:hover {
  color: #808080;
}
.grd {
  font-size: 0.7em;
  margin-left: 1%;
  color: #aaaaaa;
}
.grd:hover {
  cursor: default;
}
nav {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  /* position: fixed; */
  width: 100%;
  display: inline-block;
  box-sizing: border-box;

}
.navbtns {
  float: right;
  margin-right: 35px;
  margin-left: 0;
  margin-top: 8px;
  padding: 0;
  display: flex;
}
.navbtns li {
  margin-left: 30px;
  list-style: none;
}
.navbtns li a {
  text-decoration: none;
  font-size: 0.8em;
  color: #141414;
  letter-spacing: 1px;
  transition: 0.2s;
  /* text-transform: uppercase; */
  /* font-weight: 400; */
  /* border-bottom: 0px solid #000000; */
}
.navbtns li a:hover {
  color: #808080;
  /* border-bottom: 1px solid #ea0000; */
}
.navbtns li .activelink {
  /* color: #ec008c; */
  transition: 0.2s;
  border-bottom: 1px solid #ea0000;
}
.navbtns li .activelink:hover {
  color: #555;
  border-bottom: 1px solid #555;

}

.centerlogo {
  content: url('../images/ultraluxelogo.svg');
  position: absolute;
  transform: scale(1);
  width: 50px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  top: 20px;
  opacity: 0.2;
  transition: 0.2s;
}
.centerlogo:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  color: #141414;
  padding: 5px;
  font-size: 0.8em;
  border: none;
  letter-spacing: 1px;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}
.dropdown-content a:hover {
  color: #808080;
  /* text-decoration: underline; */
  /* text-decoration-color: #ea0000; */
  /* border-bottom-style: inset; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #808080;
  cursor: pointer;
}
.dropdown-content .activelink-dropdown {
  color: #000000;
  font-weight: 500;
  transition: 0.2s;
  /* border-bottom: 1px solid #141414; */
}
.navbtns li .activelink:hover {
  color: #555;
  /* border-bottom: 1px solid #555; */

}
/* .ult-ral-uxe {
  content: url('../images/ult-ral-uxe.svg');
  transform: scale(1.5);
  width: 50px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  transition: 0.2s;
} */
/* NAV Panel END */

/* PORTFOLIO */

.portfolio {
  width: 100%;
  float: left;
  padding: 0;
  display: inline-block;
  font-size: 0;
  margin-top: -5px;
  overflow: hidden;
}
.x4 {
  width: 100%;
  padding: 0;
  float: left;
  display: flex;
  position: relative;
  /* flex-grow: 5; */
}

.ppic {
  margin: 0;
  object-fit: cover;
  width: 33.3333%;
  height: auto;
  transition: ease 0.2s all;
  opacity: 1;
  /* background: #141414; */
  transform: scale(1);
  z-index: 1;
}

.ppic:hover {
  /* content: url('../images/designs/onm/Sourcery-full-glowing.png'); */
  /* cursor: pointer; */
  /* opacity: 0.9; */
  transform: scale(1.015);
  box-shadow: 0px 0px 25px rgba(25,25,25,0.1);
  z-index: 10;
}

/* figcaption {
  position: absolute;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-size: 14pt;
  color: #ffffff;
  background: #000;
  z-index: 1;
} */
/* PORTFOLIO END */


/* RESPONSIVE LAYOUT */

@media (max-width: 1024px){
  .aboutbanner  {
    /* width: 107% !important; */
    left: 0;
    right: 0;
    margin: 0;
  }
}

@media (max-width: 350px){
.adesign {
  width: 100% !important;
}

}

@media (max-width: 450px){
  *{
    /* width: 360px; */
    overflow-x: hidden;
  }
  nav {
    display: flex !important;
    padding: 15px !important;
    flex-direction: row !important;
justify-content: center !important;
align-items: center;
  }
  .designheader-wide {
    font-size: 1em !important;
    font-weight: 700 !important;
    /* letter-spacing: 1px; */
    color: #141414;
    float: left !important;
    margin-left: 0 !important;
    text-align: left !important;
    position: relative;
  }
  .contactheader{
    font-size: 2em !important;
    margin-top: 0px !important;
    letter-spacing: normal !important;
  }
  .contacttextmain{
    margin-top: 0px !important;
  }
  .contacttitle{
    font-size: 1.2em !important;
    margin-top: 0px !important;
  }
  .contactlink{
    font-size: 1em !important;
  }
  .contmargin{
    margin-top: -22px !important;
  }
  .decoration1{
    display: none;
  }
  .xpline1{
    margin-top: 10px !important;
  }
  .cvsection2{
    margin-top: 0px !important;
  }
  .maincontacts{
    margin-top: 0px !important;
  }
  .contacttextmain1{
    margin-top: 10px !important;
    font-size: 1.4em !important;
  }
  .xpline-date{
    font-size: 0.8em;
  }
  .xpline1, .xpline {
    font-size: 0.9em;
  }
  #instagram {
  display: none;
}

  #trustpilot {
  display: none;
}

  #ui-hid {
display: none;
}

  #logo-hid {
display: none;
}
  .udlogo {
    letter-spacing: 0px;
    font-size: 1em !important;
    margin-top: -14px;
  }
.indexbanner {
  display: none;
}
  .grd {
    display: none;
  }
  .portfolio {
    margin-top: -15px;
  }

  .ppic {
    width: 50% !important ;
    height: auto;
  }

  .aboutheader {
    font-size: 3em !important;
    letter-spacing: 3px;
  }

  .abouttextmain {
    font-size: 1em !important;
  }

  .abouttext1 {
    color: #141414;
    font-weight: 700;
    font-size: 1em;
    margin-top: 100px;
  }

  .abouttext2 {
    color: #141414;
    font-weight: 300;
    font-size: 1em;
    list-style: none;
    margin-top: 0px;
  }


  .services {
    margin-top: -10px;
  }


  .abouttext {
    color: #141414;
    font-weight: 300;
    font-size: 1em;
  }

  .interested {
    color: #141414;
    font-weight: 700;
    font-size: 2em;
    margin-top: 50px;
  }

  .contactme {
    text-decoration: none;
    color: #e264bc;
    transition: 0.2s;
    font-weight: 400;
    font-size: 1em;
    text-decoration: underline;
  }

  .adesign {
    width: 100% !important;
  }
  .additionallinks {
    display: none;
  }

}


@media (max-width: 600px){

  nav {
    padding: 20px;
  }

  .udlogo {
    letter-spacing: 0px;
    font-size: 1.3em;
    /* margin-top: 14px !important; */
  }

  .grd {
    display: none;
  }
  .portfolio {
    margin-top: -15px;
  }

  .scrolltop {
    float: right !important;
    margin-left: 85%;
  }

  .adesign {
    width: 100%;
  }
  #instagram {
  display: none;
}

  #trustpilot {
  display: none;
}
}


@media (max-width: 1000px){
  #instagram {
  display: none;
}

  #trustpilot {
  display: none;
}
  .ppic {
    width: 50%;
    height: auto;
  }
  nav {
    padding: 25px;
    /* text-align: center; */
}
.navbtns {
  margin-right: 15px;
  margin-left: 0;
  margin-top: 6px;
  padding: 0;
  display: flex;
}
.navbtns li {
  margin-left: 10px;
}

.centerlogo {
  display: none;
}

.aboutsection {
  width: 800px;
}
.adesign {
  width: 100% !important;
}
}

@media (max-width: 1500px){
  .ppic {
    width: 33.333%;
    height: auto;
  }
  .centerlogo {
    display: none;
  }
}


@media (max-width: 1000px){
  .image {
    width: 20%;
  }

  .aboutbanner {
    /* width: 110% !important; */
  }

  .aboutsection {
    width: 100% !important;
  }

  .design {
    width: 90%;
  }
  .designsection {
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 20px;
    justify-content: center;
    display: block !important;
  }
  .designheader {
    font-size: 1.5em !important;
    font-weight: 800;
    /* letter-spacing: 1px; */
    color: #141414;
    text-align: center !important;
    position: relative;
  }
  .designheader-wide {
    font-size: 1.5em !important;
    font-weight: 800;
    /* letter-spacing: 1px; */
    color: #141414;
    text-align: center !important;
    position: relative;
  }
  .tags {
    color: #aaa;
    font-weight: 300;
    text-align: center !important;
    margin-top: 45px;
    font-size: 0.8em;
  }
  .tags-wide {
    color: #aaa;
    font-weight: 300;
    text-align: center !important;
    margin-top: 45px;
    font-size: 0.8em;
  }

  .copyright {
    /* text-align: center;
    margin-left: 10%; */
  }
  .scrolltop {
    display: none !important;
  }


}

/* RESPONSIVE LAYOUT END */



/* FOOTER */

footer {
  padding: 25px;
  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 42px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1); */
  border-top: 1px solid #eee;
  text-align: center;
}
.copyright {
  font-size: 0.7em;
}
.copyrighta {
  text-decoration: none;
  color: #141414;
  transition: 0.2s;
}
.copyrighta:hover {
  color: #808080;
  /* text-decoration: underline;
  text-decoration-color: #ea0000; */
}

.scrolltop {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2em;
  position: fixed;
  float: right !important;
  transition: 0.2s;
  color: #141414;
  width: 38px;
  height: 35px;
  border-radius: 50%;
  padding-top: 2px;
  background: #fff;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);

}
.scrolltop-parent{
  position: absolute;
  top: 93vh;
  margin-left: 96%;
  /* right: 4vw; */
  z-index: 11;

}
.scrolltop:hover {
  color: #ea0000;
  background: #141414;

}



/* ABOUT */

.aboutheader {
  font-size: 4em;
  letter-spacing: 1.5px;
  color: #141414;
  font-weight: 700;
}

.abouttextmain {
  /* color: #c671cc; */
  color: #777777;
  font-size: 1.2em;
  font-weight: 300;
  margin-top: -50px;
}

.abouttext1 {
  color: #141414;
  font-weight: 700;
  font-size: 1em;
  margin-top: 100px;
}

.abouttext2 {
  color: #141414;
  font-weight: 300;
  font-size: 1em;
  list-style: none;
  margin-top: 0px;
}


.services {
  margin-top: -10px;
}


.abouttext {
  color: #141414;
  font-weight: 300;
  font-size: 1em;
}

.interested {
  color: #141414;
  font-weight: 700;
  font-size: 2em;
  margin-top: 50px;
}

.contactme {
  text-decoration: none;
  color: #141414;
  transition: 0.2s;
  font-weight: 400;
  /* font-size: 1em; */
  /* text-decoration: underline; */
}

.contactme:hover {
  /* color: #ec008c; */
}

.contactmemargin {
  margin-top: -25px;
}
.contactmemargin2 {
  margin-top: -10px;
}
.btn-outline {
  text-transform: uppercase;
  color: #141414;
  transition: 0.2s;
  font-weight: 500;
  font-size: 0.9em;
  width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: none;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}
.btn-outline:hover {
  cursor: pointer;
  border: 1px solid #141414;
}
.btn-bold {
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s;
  font-weight: 500;
  font-size: 0.9em;
  width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #141414;
  border-radius: 4px;
  border: 1px solid #141414;
}
.btn-bold:hover {
  cursor: pointer;
  background: none;
  color: #141414;

  border: 1px solid #141414;
}
.decoration1 {
  content: url('../images/decoration1.svg');
  background-size: cover;
  position: relative;
  width: 100px;
  height: 25px;
  float: left;
  text-align: left;
  margin-top: 15px;
  transition: ease 0.2s;
}
.decoration1:hover {
  width: 125px;
  height: 25px;
}

.aboutsection {
  padding-left: 4%;
  padding-bottom: 42px;
  width: 1000px;
  text-align: left;
  float:  left;
}

.aboutsection:hover {
  cursor: default;
}

.aboutbanner {
  content: url('../images/ultraluxebanner.png');
  background-size: contain;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* CONTACT */

.contactsection {
  width: 100%;
  display: inline-flex;
  }

.maincontacts {
  padding-left: 4%;
  padding-right: 5%;
  padding-bottom: 42px;
  width: 1500px;
  text-align: left;
}
.extracontacts {
  padding-left: 4%;
  padding-right: 5%;
  padding-bottom: 42px;
  width: 500px;
  text-align: left;
  float: left;
  position: relative;
}


.contactheader {
  font-size: 4em;
  letter-spacing: 1.5px;
  color: #141414;
  font-weight: 700;
}
.contacttextmain {
  /* color: #c671cc; */
  color: #333;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: -40px;
}

.contacttitle {
  color: #141414;
  font-weight: 700;
  margin-top: 35px;
  font-size: 1em;
}

.contacttitle1 {
  color: #141414;
  font-weight: 700;
  margin-top: 54px;
  font-size: 1em;
}
.contacttitle2 {
  color: #141414;
  font-weight: 700;
  margin-top: 35px;
  font-size: 1em;
}

.additionallinks {
  margin-top: 40px;
}
.contacts {
  width: 100%;
  display: inline-flex;
  margin-top: -20px;
}
.contacts1 {
  height: 400px;
  width: 500px;
}
.contacts2 {
  height: 400px;
  width: 500px;
  margin-left: 20px;
  margin-top: -4px;
}
.contmargin {
  margin-top: -15px;
}
.contactlink {
  font-weight: 300;
  text-decoration: none;
  color: #141414;
  transition: 0.2s;
  font-size: 1.8em;
  margin-top: -20px;
  letter-spacing: 1px;
}
.contactlink:hover {
  text-decoration: underline;
  text-decoration-color: #ea0000;
}

.contactlink1 {
  font-weight: 400;
  text-decoration: none;
  color: #141414;
  transition: 0.2s;
  font-size: 1em;
}

.contlink1 {
  margin-top: 10px;
}
.contlink {
  margin-top: -15px;
}

.contactlink1:hover {
text-decoration: underline;
text-decoration-color: #ea0000;
}

.parentsec {
  width: 100%;
  display: inline-flex;
}
.childsec {
  height: 400px;
  width: 33%;
  background: #555;
  border: 1px solid #eee;
}


/* DESIGNS */

.designsection {
  padding-bottom: 42px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 20px;
  justify-content: center;
  display: inline-grid;
}

.designsection-wide {
  padding-bottom: 42px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: inline-grid;
}

.designheader {
  font-size: 2em;
  font-weight: 800;
  /* letter-spacing: 1px; */
  color: #141414;
  text-align: left;
  position: relative;
}
.designheader-wide {
  font-size: 2em;
  font-weight: 800;
  /* letter-spacing: 1px; */
  color: #141414;
  text-align: left;
  position: relative;
  padding-left: 12.5%;
}

.design-text {
  text-align: left;
  position: relative;
  padding-left: 12.5%;
  font-weight: 400;
  font-size: 0.9em;
}
.tags {
  color: #aaa;
  font-weight: 300;
  text-align: right;
  margin-top: 5px;
  font-size: 0.8em;
}
.tags-wide {
  color: #aaa;
  font-weight: 300;
  text-align: right;
  margin-top: 5px;
  font-size: 0.8em;
  padding-right: 12.5%;
}

.adesign {
  width: 100% !important;
}

.adesign-wide {
  width: 75% !important;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* CV */

.mesection {
  width: 100%;
  box-sizing: border-box;
}

.mebanner {
  content: url('../images/me2.png');
  width: 100%;
}
.mebannerdiv {
  height: 1080px;
  text-align: center;
}
.cvsection{
  margin-top: 0px;
}
.cvsection1{
  margin-top: -150px;
}
.cvsection2{
  margin-top: -70px;
}
.indexbanner {
  content: url('../images/mebanner.png');
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.xpline1{
  margin-top: -50px;
}
.xpline{
  margin-top: -10px;
}
.xptitle{
  font-weight: 600;
}
.xpline-date{
  margin-top: -20px;
  color: #9d9d9d;
}
.details-text{
  margin-top: -15px;
}
.contacttextmain1 {
  color: #333;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: -70px;
}
.contacttextmain2 {
  color: #333;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 30px;
}
.bio {
  color: #333;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 100px;
}
.bio-p{
  font-weight: 400;
}
.details-text1{
  margin-top: -5px;
}
.mename{
  font-weight: 600;
}
.portfoliolink{
  color: #141414;
  transition: 0.2s;
  /* height: 20px; */
  /* padding-bottom: 50px; */
}
.portfoliolink:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #ea0000;
}
.completion-date {
  color: #aaa;
  font-weight: 300;
  text-align: right !important;
  margin-top: 35px;
  font-size: 0.8em;
}
.completion-date-wide {
  color: #aaa;
  font-weight: 300;
  text-align: right !important;
  margin-right: 12.5%;
  margin-top: 35px;
  font-size: 0.8em;
}
.title-link {
  text-decoration: underline;
  color: inherit;
  transition: 0.2s all;
}
.title-link:hover{
  color: #808080;
}
