/* $pink: #ec008c; #ffbafe - lightpink
$orange: #f25a28;
$mid-gradient: #ef2d5b
$red:#ea0000 */

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  /* cursor: none; */
}

body {
  margin: 0;
  background-color: #000000;
}
/* ::-webkit-scrollbar {
	width: 0;
} */


/* #scrollpath {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.1vw;
	height: 100%;
	background: rgba(255,255,255,0.05);
	z-index: 2;
} */
/* #progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.1vw;
	background: #808080;

	animation: animate 5s linear infinite;
	z-index: 3;
} */
/* NAV Panel */
/* #instagram {
  color: #F26D9F;
}
#trustpilot {
  color: #04DA8D;
} */
.udlogo {
  font-variant-ligatures: normal;
  letter-spacing: 0px;
  font-size: 1.3em;
  margin-left: 0%;
  margin-top: 0%;
  font-weight: 400;
  position: sticky;
}
.udlogo a{
  text-decoration: none;
  color: #f6f6f6;
  transition: 0.2s;
}
.udlogo a:hover {
  color: #808080;
}
.grd {
  font-size: 0.7em;
  margin-left: 1%;
  color: #aaaaaa;
}
.grd:hover {
  cursor: default;
}
nav {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  /* position: fixed; */
  width: 100%;
  display: inline-block;
  box-sizing: border-box;

}
.navbtns {
  float: right;
  margin-right: 35px;
  margin-left: 0;
  margin-top: 8px;
  padding: 0;
  display: flex;
}
.navbtns li {
  margin-left: 30px;
  list-style: none;
}
.navbtns li a {
  text-decoration: none;
  font-size: 0.8em;
  color: #f6f6f6;
  letter-spacing: 1px;
  transition: 0.2s;
  /* text-transform: uppercase; */
  /* font-weight: 400; */
  /* border-bottom: 0px solid #000000; */
}
.navbtns li a:hover {
  color: #999999;
  /* border-bottom: 1px solid #808080; */
}

.navbtns li .activelink {
  /* color: #ec008c; */
  transition: 0.2s;
  color: #555;

  /* text-decoration: line-through; */
  /* border-bottom: 1px solid #ffffff; */
}
.navbtns li .activelink:hover {
  color: #555;
  /* border-bottom: 0px solid #555; */
  text-decoration: line-through;
}


.centerlogo {
  content: url('../images/ultraluxelogo.svg');
  position: absolute;
  transform: scale(1);
  width: 50px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  top: 20px;
  opacity: 0.13;
  transition: 0.2s;
}
.centerlogo:hover {
  cursor: pointer;
  opacity: 0.9;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  color: #f6f6f6;
  padding: 5px;
  font-size: 0.8em;
  border: none;
  letter-spacing: 1px;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141414;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #f6f6f6;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}
.dropdown-content a:hover {
  color: #808080;
  /* text-decoration: underline; */
  /* text-decoration-color: #808080; */
  /* border-bottom-style: inset; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #808080;
  cursor: pointer;
}
.dropdown-content .activelink-dropdown {
  color: #000000;
  font-weight: 600;
  transition: 0.2s;
  /* border-bottom: 1px solid #f6f6f6; */
}
.navbtns li .activelink:hover {
  color: #555;
  /* border-bottom: 1px solid #555; */

}
/* .ult-ral-uxe {
  content: url('../images/ult-ral-uxe.svg');
  transform: scale(1.5);
  width: 50px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  transition: 0.2s;
} */
/* NAV Panel END */

/* PORTFOLIO */

.portfolio {
  width: 100%;
  /* float: left; */
  padding: 0;
  display: inline-block;
  font-size: 0;
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 0;
  text-align: center;
  overflow: hidden;
  margin-bottom: 4%;

}
.x4 {
  width: 100%;
  padding: 0;
  float: center;
  display: flex;
  position: relative;
  /* flex-grow: 5; */
}

.ppic {
  margin-left: 5px;
  margin-top: 5px;
  object-fit: cover;
  width: 32.9%;
  height: auto;
  transition: ease-out 0.3s all;
  opacity: 1;
  border-radius: 6%;
  margin-bottom: 0%;
  /* background: #f6f6f6; */
  transform: scale(1);
  z-index: 1;
}
.ppiccaption {
  margin-bottom: 0;
  margin-left: 25px;
  margin-top: 25px;
  position: absolute;
  display: inline-flex;
  /* padding-top: 1px; */
  /* padding-left: 6px; */
  /* padding-right: 6px; */
  background-color: #ffffff;
  width: 56px;
  z-index: 2;
  border-radius: 33px;
  text-align: center;
  padding-top: 0px;
}
.ppiccaption p {
  margin-left: 20px;
  font-size: 14pt;
  font-weight: 900;
  color: #141414;
  text-decoration: none;
}
.ppic:hover {
  /* content: url('../images/designs/onm/Sourcery-full-glowing.png'); */
  /* cursor: pointer; */
  /* opacity: 0.9; */
  /* transform: scale(1.02); */
  border-radius: 3%;
  box-shadow: 0px 0px 25px rgba(25,25,25,0.1);
  z-index: 12;
}
.newdes {
position: inherit;
display: inherit;
}
figcaption{
  color: #f6f6f6;
  z-index: 4;
  position: absolute;
}
/* figcaption {
  position: absolute;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-size: 14pt;
  color: #000000;
  background: #000;
  z-index: 1;
} */
/* PORTFOLIO END */


/* RESPONSIVE LAYOUT */






/* RESPONSIVE LAYOUT END */



/* FOOTER */

footer {
  padding: 25px;
  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 42px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1); */
  border-top: 1px solid #141414;
  text-align: center;
}
.copyright {
  color: #f6f6f6;
  font-size: 0.7em;
}
.copyrighta {
  text-decoration: none;
  color: #808080;
  transition: 0.2s;
}
.copyrighta:hover {
  color: #f6f6f6;
  /* text-decoration: underline;
  text-decoration-color: #808080; */
}

.scrolltop {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2em;
  position: fixed;
  float: right !important;
  transition: 0.2s;
  color: #000;
  width: 38px;
  height: 35px;
  border-radius: 50%;
  padding-top: 2px;
  background: #ffffff;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);

}
.scrolltop-parent{
  position: absolute;
  top: 93vh;
  margin-left: 96%;
  /* right: 4vw; */
  z-index: 11;

}
.scrolltop:hover {
  color: #000;
  background: #cacaca;

}



/* ABOUT */
.aboutheaderleft {
  width: 50%;
  position: relative;
}
.aboutheader {
  width: auto;
  font-size: 4em;
  letter-spacing: 1.3px;
  color: #f6f6f6;
  font-weight: 500;
  line-height: 102%;
  overflow: hidden;
  position: relative;
  /* padding-bottom: 0.3em; */
}
.whitetoblack {
  background-color: #f6f6f6;
  padding-left: 4%;
  padding-top: 4%;
}
.abouttextmain {
  /* color: #c671cc; */
  color: #999999;
  font-size: 1.1em;
  font-weight: 400;
  margin-top: -50px;
}

.abouttext1 {
  color: #f6f6f6;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 10px;
}

.abouttext2 {
  color: #f6f6f6;
  font-weight: 500;
  font-size: 1.2em;
  list-style: none;
  margin-top: 0px;
}
.abouttext3 {
  color: #999;
  font-weight: 300;
  font-size: 0.9em;
  list-style: none;
  margin-top: -15px;
  line-height: 110%;
}



.services {
  
  margin-left: -20px;
  display: block;
  width: 50%;
  padding-top: 20px;
}
.servicesdiv{
  width: 100%;
  height: auto;
  /* background-color: #000; */
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
  border: 1px solid #222222;
  transition: 0.2s;
}
.servicesdiv:hover{
  /* height: 100px; */
  /* width: 100%; */
  border: 1px solid #555;

}
.abouttext {
  color: #f6f6f6;
  font-weight: 300;
  font-size: 1em;
}

.interested {
  color: #f6f6f6;
  font-weight: 700;
  font-size: 2em;
  margin-top: 50px;
}

.contactme {
  text-decoration: none;
  color: #f6f6f6;
  transition: 0.2s;
  font-weight: 400;
  /* padding-right: 30px; */
  /* font-size: 1em; */
  /* text-decoration: underline; */
}

.contactme:hover {
  /* color: #ec008c; */
}

.contactmemargin {
  margin-top: -25px;
}
.contactmemargin2 {
  margin-top: -10px;
}
.btn-outline {
  /* text-transform: uppercase; */
  color: #f6f6f6;
  transition: 0.2s;
  font-weight: 600;
  font-size: 0.9em;
  width: 350px;
  padding-top: 22px;
  padding-bottom: 22px;
  background: #141414;
  border-radius: 50px;
  border: 1px solid #f6f6f6;
  margin-top: 4px;
}
.btn-outline:hover {
  cursor: pointer;
  border: 1px solid #f6f6f6;
  background: #333333;

}
.btn-bold {
  /* text-transform: uppercase; */
  color: #000;
  transition: 0.2s;
  font-weight: 600;
  font-size: 0.9em;
  width: 350px;
  padding-top: 22px;
  padding-bottom: 22px;
  background: #ffffff;
  border-radius: 50px;
  border: 1px solid #ffffff;
}
.btn-bold:hover {
  cursor: pointer;
  background: #cacaca;
  /* color: #f6f6f6; */
  border: 1px solid #cacaca;
}
.decoration1 {
  content: url('../images/decoration1.svg');
  background-size: cover;
  position: relative;
  width: 100px;
  height: 25px;
  float: left;
  text-align: left;
  margin-top: 0px;
  transition: ease 0.2s;
}
.decoration1:hover {
  width: 125px;
  height: 25px;
}
.testtext {
  color: #f6f6f6;
}
.aboutsection {
  display: block;
  padding-left: 0%;
  padding-bottom: 42px;
  width: 100%;
  text-align: left;
  float:  left;
  background-color: #000;
  position:relative;
}

.aboutsection:hover {
  cursor: default;
}
.fullwidth {
  width: 100%;
  position: relative;
}
.aboutsection-child {
  /* display: inline-flex; */
  padding-left: 4%;
  /* float:  left; */
  background-color: #000;
  width: 96%;
  /* overflow: hidden; */
  position:relative;
  /* z-index: 5; */
}
.aboutbanner {
  content: url('../images/aboutbanner.svg');
  background-size: contain;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.aboutsection-black {
  display: block;
  background-color: none;
  background-image: linear-gradient(#141414, #000);
  position: relative;
  border-radius: 80px;
}
.aboutsection-black-child {
  /* margin-top: 280px; */
  padding-top: 4%;
  padding-left: 4%;
  /* position: relative; */
  width: 96%;

}
.grand {
  position:relative;
  display: block;
  width: 100%;
}
/* CONTACT */

.profilepic {
  width: 50%;
  border-radius: 50%;
}

.profilepicdiv {
  display: block;
  position: relative;
  margin-top: 4%;
}
.contactsection {
  width: 100%;
  display: inline-flex;
  }

.maincontacts {
  display: inline-block;
  /* position: inherit; */
  padding-left: 4%;
  padding-right: 5%;
  padding-bottom: 42px;
  width: 1500px;
  height: auto;
  text-align: left;
}
.extracontacts {
  padding-left: 4%;
  padding-right: 5%;
  padding-bottom: 42px;
  width: 500px;
  text-align: left;
  float: left;
  position: relative;
}


.contactheader {
  font-size: 48pt;
  letter-spacing: -2pt;
  color: #f6f6f6;
  font-weight: 700;
}
.contacttextmain {
  /* color: #c671cc; */
  color: #f6f6f6;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: -40px;
}

.contacttitle {
  color: #f6f6f6;
  font-weight: 700;
  margin-top: 15px;
  font-size: 1em;
}

.contacttitle1 {
  color: #f6f6f6;
  font-weight: 700;
  margin-top: 54px;
  font-size: 1em;
}
.contacttitle2 {
  color: #f6f6f6;
  font-weight: 700;
  margin-top: 35px;
  font-size: 1em;
}

.additionallinks {
  margin-top: 40px;
}
.contacts {
  width: 100%;
  display: inline-flex;
  margin-top: -20px;
}
.contacts1 {
  height: 400px;
  width: 500px;
}
.contacts2 {
  height: 400px;
  width: 500px;
  margin-left: 20px;
  margin-top: -4px;
}
.contmargin {
  margin-top: -20px;
}
.contactlink {
  font-weight: 300;
  text-decoration: none;
  color: #f6f6f6;
  transition: 0.2s;
  font-size: 1.5em;
  margin-top: 0px;
  letter-spacing: 1px;
}
.contactlink:hover {
  text-decoration: underline;
  text-decoration-color: #808080;
  color: #808080;
}

.contactlink1 {
  font-weight: 400;
  text-decoration: none;
  color: #f6f6f6;
  transition: 0.2s;
  font-size: 1em;
}

.contlink1 {
  margin-top: 10px;
}
.contlink {
  margin-top: -15px;
}

.contactlink1:hover {
text-decoration: underline;
text-decoration-color: #808080;
color: #808080;

}

.parentsec {
  width: 100%;
  display: inline-flex;
}
.childsec {
  height: 400px;
  width: 33%;
  background: #555;
  border: 1px solid #eee;
}


/* DESIGNS */

.designsection {
  padding-bottom: 42px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 20px;
  justify-content: center;
  display: inline-grid;
}

.designsection-wide {
  padding-bottom: 42px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: inline-grid;
}

.designheader {
  font-size: 2em;
  font-weight: 600;
  /* letter-spacing: 1px; */
  color: #f6f6f6;
  text-align: left;
  position: relative;
}
.designheader-wide {
  font-size: 22pt;
  font-weight: 500;
  letter-spacing: -0.5pt;
  color: #f6f6f6;
  text-align: left;
  position: relative;
  padding-left: 12.5%;
}

.design-text {
  color: #f6f6f6;
  text-align: left;
  position: relative;
  padding-left: 12.5%;
  font-weight: 400;
  font-size: 0.9em;
}
.design-text-link {
  color: #f6f6f6;
  text-align: left;
  position: relative;
  /* padding-left: 12.5%; */
  font-weight: 400;
  font-size: 1em;
  text-decoration: underline;
  transition: 0.2s;
}
.design-text-link:hover {
  color: #9d9d9d;
}
.tags {
  color: #aaa;
  font-weight: 300;
  text-align: right;
  margin-top: 5px;
  font-size: 0.8em;
}
.tags-wide {
  color: #aaa;
  font-weight: 300;
  text-align: right;
  margin-top: 5px;
  font-size: 0.8em;
  padding-right: 12.5%;
}
.adesign1 {
  width: 100% !important;
  margin-top: 40px;
}
.adesign {
  width: 100% !important;
  margin-top: 0px;
}

.adesign-wide {
  width: 75% !important;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* CV */

.mesection {
  width: 100%;
  box-sizing: border-box;
}

.mebanner {
  /* content: url('../images/me2.png'); */
  width: 100%;
}
.mebannerdiv {
  height: 1080px;
  text-align: center;
}
.cvsection{
  margin-top: 0px;
}
.cvsection1{
  margin-top: -150px;
}
.cvsection2{
  margin-top: -70px;
}
.indexbanner {
  content: url('../images/ultraluxehello.svg');
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.smmbanner {
  content: url('../images/SMD-banner.jpg');
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.xpline1{
  color: #f6f6f6;
  margin-top: -50px;
}
.xpline{
  margin-top: -10px;
  color: #f6f6f6;
}
.xpline-grey{
  color: #9d9d9d;
  font-size: 11pt;
}
.xptitle{
  font-weight: 600;
}
.xpline-date{
  margin-top: -20px;
  color: #9d9d9d;
}
.details-abouttext{
  color: #808080;
}
.details-text{
  color: #f6f6f6;
  margin-top: -15px;
}
.details-text2{
  color: #f6f6f6;
  margin-top: -15px;
  font-size: 11pt;
}
.contacttextmain1 {
  color: #f6f6f6;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: -50px;
}
.contacttextmain2 {
  color: #f6f6f6;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 30px;
}
.bio {
  color: #f6f6f6;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 100px;
}
.bio-p{
  font-weight: 400;
}
.details-text1{
  margin-top: -5px;
  color: #f6f6f6;
}
.mename{
  font-weight: 600;
}
.portfoliolink{
  color: #f6f6f6;
  transition: 0.2s;
  /* height: 20px; */
  /* padding-bottom: 50px; */
}
.portfoliolink:hover {
  color: #9d9d9d;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #9d9d9d;
}
.completion-date {
  color: #aaa;
  font-weight: 300;
  text-align: right !important;
  margin-top: 35px;
  font-size: 0.8em;
}
.completion-date-wide {
  color: #aaa;
  font-weight: 300;
  text-align: right !important;
  margin-right: 12.5%;
  margin-top: 35px;
  font-size: 0.8em;
}
.title-link {
  text-decoration: underline;
  color: inherit;
  transition: 0.2s all;
}
.title-link:hover{
  color: #808080;
}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  /* transition: 0.05s; */
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 2;
}

.newbtn::before {
  margin-left: -0.05%;
  /* margin-top: -0.1%; */
  display: flex;
  position: absolute;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 6px;
  background: #ffffff;
  content: "new";
  color: #000;
  font-size: 8pt;
  font-weight: 500;
  border-radius: 5px;
}
.newbtn::after {
  content: "";
}

.langactive {

}
.langinactive {

}



/* ---------------------------------MEDIA-------------------------------- */





@media (max-width: 1920px){
  .abouttext1 {
    /* margin-top: 120px !important; */
  }
}
@media (max-width: 1550px){
  .aboutheader {
    width: 70% !important;
  }
}


@media (max-width: 1500px){
  .ppic {
    width: 48%;
    height: auto;
  }
  .centerlogo {
    display: none;
  }
  .aboutheaderleft {
    width: 70%;
  }
}

@media (max-width: 1220px){
  .aboutheaderleft {
    width: 80%;
  }
}





@media (max-width: 1000px){
  #instagram {
  display: none;
}
.aboutsection-black-child {
  /* margin-top: 10px !important; */
}
.aboutsection-black {
  border-radius: 40px;
}
.abouttext1 {
  /* margin-top: 16px !important; */
}
.aboutheaderleft {
  width: 80%;
}
.aboutheader {
  /* width: 80%; */
  font-size: 2.8em !important; 
}
.smallscreenlink {
  display: none;
}
  #trustpilot {
  display: none;
}
  .ppic {
    width: 100%;
    height: auto;
  }
  nav {
    padding: 25px;
    /* text-align: center; */
}
.navbtns {
  margin-right: 15px;
  margin-left: 0;
  margin-top: 6px;
  padding: 0;
  display: flex;
}
.navbtns li {
  margin-left: 10px;
}

.centerlogo {
  display: none;
}

.aboutsection {
  width: 100%;
}

.adesign {
  width: 100% !important;
}
.newbtn {
  display: none;
}
}



@media (max-width: 1000px){
  .image {
    width: 20%;
  }
  .ppic {
    width: 48% !important;
    height: auto;
  }

  .design {
    width: 90%;
  }
  .designsection {
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 20px;
    justify-content: center;
    display: block !important;
  }
  .designheader {
    font-size: 1.5em !important;
    font-weight: 600;
    /* letter-spacing: 1px; */
    color: #f6f6f6;
    text-align: center !important;
    position: relative;
  }
  .designheader-wide {
    font-size: 18pt !important;
    font-weight: 600;
    letter-spacing: -0.5pt;
    color: #f6f6f6;
    text-align: left !important;
    position: relative;
    /* margin-left: -100px; */
  }
  .tags {
    color: #aaa;
    font-weight: 300;
    text-align: center !important;
    margin-top: 45px;
    font-size: 0.8em;
  }
  .tags-wide {
    color: #aaa;
    font-weight: 300;
    text-align: center !important;
    margin-top: 45px;
    font-size: 0.8em;
  }

  .copyright {
    color: #f6f6f6;
    /* text-align: center;
    margin-left: 10%; */
  }
  .scrolltop {
    display: none !important;
  }


}



@media (max-width: 600px){
  .indexbanner{
    display: none;
  }
  nav {
    padding: 20px;
  }
  .aboutheader {
    width: 100% !important;
    font-size: 2.8em !important; 
  }
  .udlogo {
    letter-spacing: 0px;
    font-size: 1.3em;
    /* margin-top: 14px !important; */
  }

  .grd {
    display: none;
  }
  .portfolio {
    margin-top: -15px;
  }

  .scrolltop {
    float: right !important;
    margin-left: 85%;
  }

  .adesign {
    width: 100%;
  }
  #instagram {
  display: none;
}

  #trustpilot {
  display: none;
}

.designheader-wide {
  font-size: 16pt !important;
  font-weight: 500;
  letter-spacing: -0.5pt;
  color: #f6f6f6;
  text-align: left !important;
  position: relative;
  margin-left: 0px;
}
.services {
  
  margin-left: -20px;
  display: inline-block !important;
  width: 80% !important;
  padding-top: 20px;
  margin-top: -20px;
}
.servicesdiv{
  margin-top: 20px;
  width: 100%;
  height: auto;
  /* background-color: #000; */
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
  border: 1px solid #222222;
  transition: 0.2s;
}
}


@media (max-width: 450px){
  *{
    /* width: 360px; */
    overflow-x: hidden;
  }
  .aboutsection-black-child {
    margin-top: 10px !important;
    /* padding-top: 1% !important; */
  }
  .abouttext1 {
    margin-top: 20px !important;
  }
  .contacts2{
    display:none;
  }
  nav {
    display: flex !important;
    padding: 15px !important;
    flex-direction: row !important;
justify-content: center !important;
align-items: center;
  }
  nav ul li a {
    letter-spacing: -0.5pt !important; 
  }
  .designheader-wide {
    font-size: 16pt !important;
    font-weight: 600 !important;
    letter-spacing: -0.5pt;
    color: #f6f6f6;
    float: left !important;
    margin-left: 0 !important;
    text-align: left !important;
    position: relative;
  }
  .contactheader{
    font-size: 2em !important;
    margin-top: 0px !important;
    letter-spacing: normal !important;
  }
  .contacttextmain{
    margin-top: 0px !important;
  }
  .contacttitle{
    font-size: 1.2em !important;
    margin-top: 0px !important;
  }
  .contactlink{
    font-size: 1em !important;
  }
  .contmargin{
    margin-top: -22px !important;
  }
  .decoration1{
    display: none;
  }
  .xpline1{
    margin-top: 10px !important;
  }
  .cvsection2{
    margin-top: 0px !important;
  }
  .maincontacts{
    margin-top: 0px !important;
  }
  .contacttextmain1{
    margin-top: 10px !important;
    font-size: 1.4em !important;
  }
  .xpline-date{
    font-size: 0.8em;
  }
  .xpline1, .xpline {
    font-size: 0.9em;
  }
  #instagram {
  display: none;
}

  #trustpilot {
  display: none;
}

  #ui-hid {
display: none;
}

  #logo-hid {
display: none;
}
  .udlogo {
    font-variant-ligatures: normal;
    letter-spacing: 0px;
    font-size: 1em !important;
    margin-top: -14px;
  }
.indexbanner {
  display: none;
}
  .grd {
    display: none;
  }
  .portfolio {
    margin-top: -15px;
  }

  .ppic {
    margin-left: 0 !important;
    width: 100% !important ;
    margin-top: 5px;
    height: auto;
  }

  .aboutheader {
    width: 100%;
    font-size: 2.2em !important;
    letter-spacing: 1px;
  }

  .abouttextmain {
    font-size: 1em !important;
  }

  .abouttext2 {
    color: #f6f6f6;
    font-weight: 300;
    font-size: 1em;
    list-style: none;
    margin-top: 0px;
  }
  .services {
  
    margin-left: -20px;
    display: block !important;
    width: 100% !important;
    padding-top: 20px;
    margin-top: -20px;
    /* overflow: hidden !important; */

  }
  .servicesdiv{
    margin-top: 15px !important;
    width: 100%;
    height: auto;
    /* background-color: #000; */
    padding-top: 20px !important;
    padding-left: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
    margin-left: 16px !important;
    border-radius: 0px;
    /* border: none !important; */
    /* border-left: 1px solid #222222 !important; */
    transition: 0.2s;
    overflow: hidden !important;
  }
  .servicesdiv {
    /* border-image: linear-gradient(to right, #222 100%, #444 100%); */
    border-top: 1px solid #181818 !important;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .servocesdiv:hover {
    border: none !important;
  }

  .abouttext {
    color: #f6f6f6;
    font-weight: 300;
    font-size: 1em;
  }

  .interested {
    color: #f6f6f6;
    font-weight: 700;
    font-size: 2em;
    margin-top: 50px;
  }

  .contactme {
    text-decoration: none;
    color: #e264bc;
    transition: 0.2s;
    font-weight: 400;
    font-size: 1em;
    text-decoration: underline;
  }

  .adesign {
    width: 100% !important;
  }
  .additionallinks {
    display: none;
  }
  .btn-bold {
    width: 96%;
  }
  .btn-outline {
    width: 96%;
  }
}



@media (max-width: 350px){

  .adesign {
    width: 100% !important;
  }
  .aboutheader {
    width: 100% !important;
    font-size: 1em !important; 
  }
}